section#contacts
  .pure-g.bg-default
    .pure-u-1
      .pure-g.container
        .pure-u-1.bg-default
          .grid-item
            h2.heading= __(strings.GET_IN_TOUCH)
              include ./media-links