section#how-it-works.bg-light.text-center
  .pure-g.container
    .pure-u-1
      .grid-item
        .pure-g.heading
          .pure-u-1
            h2= __(strings.HOW_IT_WORKS)
        .pure-g 
          .pure-u-1.pure-u-lg-10-24
            .img
            //- img(src="/adex/how-it-works.png")
          .pure-u-1.pure-u-lg-1-24
          .pure-u-1.pure-u-lg-13-24.text-left
            p= __(strings.HOW_IT_WORKS_P1)
            p= __(strings.HOW_IT_WORKS_P2)