section#key-dates
  .pure-g.container.text-center
    .pure-u-1
      .grid-item
        .pure-g.heading
          .pure-u-1
            h2= __(strings.KEY_DATES)
        .pure-g 
          .pure-u-1
            include ./timeline