.links
    ul
        li
            a(href='https://www.facebook.com/AdEx-by-Stremio-756186427900381/', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-fb
        li
            a(href='https://twitter.com/AdEx_Network', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-twitter
        li
             a(href='https://medium.com/the-adex-blog', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-medium
        li
            a(href='https://github.com/AdExNetwork', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-github
        li
            a(href='https://www.reddit.com/r/AdEx/', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-reddit
        li
            a(href='https://discord.gg/nMBGJsb', target="_blank" rel="noopener noreferrer")
                .icon.icon-adex-discord
        //- li
        //-     a(href='https://join.slack.com/adex-community/shared_invite/MjA1MzEzMDQyNzA4LTE0OTg2OTA0NDctODZiMTk3ZmQ0OA', target="_blank")
        //-         .icon.icon-adex-slack