section#partners.text-center.bg-lighter
  .pure-g.container
    .pure-u-1
      .grid-item
        .pure-g.heading
          .pure-u-1
            h2= __("Our Partners")
        
        each partner in partners.partners
          .pure-u-1.pure-u-sm-1.pure-u-md-1-2.pure-u-lg-1-3.pure-u-xl-1-4.text-left
            .partner
              .partner-logo
                img(src=partner.img, alt=partner.name)
