section#slae-terms.text-center
  .pure-g.container
    .pure-u-1
      .grid-item
        .pure-g.heading
          .pure-u-1
            h2= __(strings.TOKE_SALE_TERMS)
        .pure-g 

          .pure-u-1.pure-u-lg-24-24.text-center
            .terms
              h4
                strong Contribution campaign starts at Jun 30th at 11:00 UTC
              h4
                strong Contribution campaign  closes at Jul 30th at 11:00 UTC
              h4
                strong Hard cap is set to 40,000ETH
              h4
                strong First day price: 1ETH = 1170ADX (+30% bonus)
              h4
                strong First week price: 1ETH = 1035ADX (+15% bonus)
              h4
                strong Regular price: 1ETH = 900ADX
              h4
                span For more details, please see our <a href="https://medium.com/the-adex-blog/adex-token-sale-to-kick-off-on-june-30th-84b437f5f0bb" rel="noopener noreferrer" target="_blank"><u>Medium post</u></a>
