section#seen-on.bg-light.text-center
  .pure-g.container.text-center
    .pure-u-1
      .grid-item.small
        .pure-u-1
          h3.heading= __(strings.AS_SEEN_ON)
        .pure-u-1
          .pure-g
            .pure-u-1.pure-u-md-8-24.pure-u-lg-3-24.pure-u-sm-1-2
              a(href='https://cointelegraph.com/press-releases/stremio-selects-wings-dao-management-platform-for-the-adex-crowdfunding-campaign', target="_blank")
                .logo
                  .icon.logo-adex-cointelegraph
            .pure-u-1.pure-u-md-8-24.pure-u-lg-6-24.pure-u-sm-1-2
              a(href='https://www.coinspeaker.com/2017/06/30/adex-network-raises-10-000-000-3-hours-modernize-digital-marketing-space/', target="_blank")
                .logo
                  .icon.logo-adex-coinspeaker
            .pure-u-1.pure-u-md-8-24.pure-u-lg-6-24.pure-u-sm-1-2
              a(href='https://btcmanager.com/ad-exchange-intends-to-revolutionize-online-ad-industry/', target="_blank")
                .logo
                  .icon.logo-adex-btc-manager
            .pure-u-1.pure-u-md-12-24.pure-u-lg-6-24.pure-u-sm-1-2
              a(href='http://www.adweek.com/digital/can-blockchain-technology-solve-digital-marketings-ad-fraud-problems/', target="_blank")
                .logo
                  .icon.loaog-adex-adweek
            .pure-u-1.pure-u-md-12-24.pure-u-lg-3-24.pure-u-sm-1
              a(href='http://bitcoinist.com/blockchain-ad-platform-adex-partner-stremio/', target="_blank")
                .logo
                  .icon.logo-adex-bitcoinist.small