ul#timeline.timeline
  li.li(data-timestamp="2016-12-12T11:00:00.000Z")
    .timestamp
      strong.date=  __(strings.KEY_DATES_1_D)
    .status
      h4=  __(strings.KEY_DATES_1_P)
  li.li(data-timestamp="2017-06-30T11:00:00.000Z")
    .timestamp
      strong.date=  __(strings.KEY_DATES_2_D)
    .status
      h4=  __(strings.KEY_DATES_2_P)
  li.li(data-timestamp="2017-07-30T11:00:00.000Z")
    .timestamp
      strong.date=  __(strings.KEY_DATES_3_D)
    .status
      h4=  __(strings.KEY_DATES_3_P)
  li.li(data-timestamp="")
    .timestamp
      strong.date=  __(strings.KEY_DATES_4_D)
    .status
      h4=  __(strings.KEY_DATES_4_P)