footer#footer
  .pure-g.bg-darker
    .pure-u-1
      .pure-g.container
        .pure-u-1.bg-darker
          .grid-item.text-left 
              span Copyright &copy;  
              span= (new Date()).getFullYear() 
              span &nbsp; AdEx Network OÜ