section#head
  nav#navigation
    .container
      input#menu-toggle(type="checkbox")
      label(for="menu-toggle")
        span.menu-line
        span.menu-line
        span.menu-line
      a.logo-p(href="/")
        span.dark
          img.logo.logo-p(src="/adex/adex-logo-clean.png")
          img.logo.logo-t(src="/adex/adex-logo-txt.png")
        span.light
          img.logo.logo-p(src="/adex/Logo-white-no-text.png")
          img.logo.logo-t(src="/adex/adex-logo-text-white.png")
      .nav
        //- a(href="")= __("Publishers")
        //- a(href="")= __("Advertisers")
        //- a(href="")= __("AdEx Longue")
        a(href="/")= __("Home")
        a(href="/about")= __("About Us")
        a(href="")= __("Blog")
        a(href="")= __("Contact")        
        //include ./langs
