.header
  .pure-g.container 
    .hero-left.bg-lighter.pure-u-1.pure-u-lg-1-2
      .grid-item
        header.heading
          .sales-ended(style="display:block")
            h1=  __(strings.HERO_TOKEN_SALE_ENDED)
            h2=  __(strings.HERO_TOKEN_SALE_ENDED_THANKS)
            h3=  __(strings.HERO_TOKEN_SALE_ENDED_FOLLOW)
            include ./../media-links

        include ./sale-progress

    .hero-right.bg-default.pure-u-1.pure-u-lg-1-2
      img.hero-img(src='/adex/hero-background.jpg')
      .top-angle
      .bot-angle