include ./../../../layout/menu

section#hero.bg-lighter-default
  include ./hero  

section#what-is-adex.bg-default
  .pure-g.container.text-center
    .pure-u-1
      .grid-item
        .pure-g.heading.text-center
          .pure-u-1
            h2= __(strings.WHAT_IS_ADEX)
        .pure-g.text-left
          .pure-u-1.pure-u-md-10-24
            p!= __(strings.WHAT_IS_ADEX_P1)
            p!= __(strings.WHAT_IS_ADEX_P2)
          .pure-u-1.pure-u-md-4-24
          .pure-u-1.pure-u-md-10-24
            p!= __(strings.WHAT_IS_ADEX_P3)

include ./../how-it-works
include ./../features-row
//- include ./../sale-terms
include ./../token-distribution
include ./../key-dates
include ./../partners
include ./../team
include ./../seenon
include ./../contacts