.header
  .pure-g.container
    .hero-left.pure-u-1
      .grid-item
        header.heading
            .pure-g
                .pure-u-1
                    h1
                        span#hLine1= __("No more ad fraud.")
                        br
                        b#hLine2= __("Just solid advertising.")
            .pure-g
                .pure-u-1.pure-u-md-3-8.offset-md-1-8.v-sep
                    p.inset Reach your target audience and make the most of your marketing budgets. Make sure you never pay for invlaid clicks again!
                    br

                .pure-u-1.pure-u-md-3-8
                    p.inset Monetize your online influence. Connect with trusted advertisers and get paid for quality traffic.
                    br
            .pure-g.text-center
                .pure-u-1.pure-u-md-3-8.offset-md-1-8.v-sep
                    .inset
                        a.big-button.blue(href="http://dapp.adex.network/dashboard/advertiser" target="_blank")= __("Advertise")
                .pure-u-1.pure-u-md-3-8
                    .inset
                        a.big-button.green(href="http://dapp.adex.network/dashboard/publisher" target="_blank")= __("Monetize")
