.header
  .pure-g.container 
    .hero-left.bg-lighter.pure-u-1
      .grid-item
        header.heading
          .sales-ended(style="display:block")
            .yt-container
              iframe(class="yt-video-iframe", type="text/html", class="video", src=youtubeUrl, frameborder="0", allowfullscreen)
