include ./../../../layout/menu
section#hero.bg-lighter-default
  include ./hero  


section#about.bg-lighter
  .pure-g.container
    .pure-u-1
        h2.text-center= __('What We Do')
        .yt-container
            iframe(class="yt-video-iframe video" type="text/html" src="https://www.youtube.com/embed/E4A0bcCQke0?rel=0&amp;amp;showinfo=0" allowfullscreen="allowfullscreen" frameborder="0")

section#features.hero-inner
  .pure-g.container
    .pure-u-1
        h2.text-center= __('Features')
        p Put fancy icons here

//include ./../how-it-works 

//include ./../key-dates

include ./../partners



//include ./../seenon

include ./../contacts
